@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a1817;
  --secondary-color: #23211f;
  --accent-color: #f7e3db;
  --accent-secondary-color: #a0f538;
}

body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}